<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <header>
    <%= render "layouts/nav" %>
  </header>

  <body>

    <%= yield %>

  </body>

  <footer class="row">
  <div class="large-12 columns">
  <hr/>
  <div class="row">
  <div class="large-6 columns">
  <p>&copy; Copyright Jason Wang and Phil Sofia</p>
  </div>
  <div class="large-6 columns">
  <ul class="inline-list right">
  <li><a href="#">Facebook</a></li>
  <li><a href="#">Twitter</a></li>
  <li><a href="#">LinkedIn</a></li>
  <li><a href="#">Email</a></li>
  </ul>
  </div>
  </div>
  </div>
  </footer>

</html>
